
            <section class="footer-oss">
                <h4>Open source</h4>
                <p>
                    As a work of the United States Government, source code released by GSA is in the public
                    domain by default within the United States.
                </p>
            </section>


            <section class="footer-links">
                <ul>
                    <li>
                        <a href="http://www.gsa.gov/">GSA.gov</a>
                    </li>
                    <li>
                        <a href="http://github.com/gsa">github.com/gsa</a>
                    </li>
                    <li>
                        <a href="mailto:socialmediaregistry@gsa.gov">Contact us</a>
                    </li>
                </ul>
            </section>



